/*--------------------------------------------------------------------------*\
 |                                                                          |
 |  Copyright (C) 2017                                                      |
 |                                                                          |
 |         , __                 , __                                        |
 |        /|/  \               /|/  \                                       |
 |         | __/ _   ,_         | __/ _   ,_                                |
 |         |   \|/  /  |  |   | |   \|/  /  |  |   |                        |
 |         |(__/|__/   |_/ \_/|/|(__/|__/   |_/ \_/|/                       |
 |                           /|                   /|                        |
 |                           \|                   \|                        |
 |                                                                          |
 |      Enrico Bertolazzi                                                   |
 |      Dipartimento di Ingegneria Industriale                              |
 |      Universita` degli Studi di Trento                                   |
 |      email: enrico.bertolazzi@unitn.it                                   |
 |                                                                          |
\*--------------------------------------------------------------------------*/

///
/// file: lapack_wrapper_config.hh
///

#pragma once

#ifndef LAPACK_WRAPPER_CONFIG_dot_HH
#define LAPACK_WRAPPER_CONFIG_dot_HH

/*\
 ! values
 !  LAPACK_WRAPPER_USE_ACCELERATE, LAPACK_WRAPPER_USE_ATLAS, LAPACK_WRAPPER_USE_OPENBLAS,
 !  LAPACK_WRAPPER_USE_LAPACK, LAPACK_WRAPPER_USE_MKL, lAPACK_WRAPPER_USE_BLASFEO
\*/
@@LAPACK_WRAPPER_USE@@

/*\
 ! define
 ! LAPACK_WRAPPER_DO_NOT_USE_SYSTEM_OPENBLAS
 ! if you want to use locally compiled openblas
\*/
@@LAPACK_WRAPPER_NOSYSTEM_OPENBLAS@@

#include "Utils.hh"

//#define LW_ERROR0(...)        UTILS_ERROR0(__VA_ARGS__)
//#define LW_ASSERT0(...)       UTILS_ASSERT0(__VA_ARGS__)
//#define LW_ERROR(...)         UTILS_ERROR(__VA_ARGS__)
//#define LW_ASSERT(...)        UTILS_ASSERT(__VA_ARGS__)
//#define LW_ERROR_TRACE(...)   UTILS_ERROR_TRACE(__VA_ARGS__)
//#define LW_ERROR_TRACE0(...)  UTILS_ERROR_TRACE0(__VA_ARGS__)
//#define LW_ASSERT_TRACE(...)  UTILS_ASSERT_TRACE(__VA_ARGS__)
//#define LW_ASSERT_TRACE0(...) UTILS_ASSERT_TRACE0(__VA_ARGS__)
//#define LW_ASSERT_DEBUG(...)  UTILS_ASSERT_DEBUG(__VA_ARGS__)

namespace lapack_wrapper {
  using Utils::ostream_type;
  using Utils::Malloc;
}

#endif

///
/// eof: lapack_wrapper_config.hh
///
