/*--------------------------------------------------------------------------*\
 |                                                                          |
 |  Copyright (C) 2017                                                      |
 |                                                                          |
 |         , __                 , __                                        |
 |        /|/  \               /|/  \                                       |
 |         | __/ _   ,_         | __/ _   ,_                                |
 |         |   \|/  /  |  |   | |   \|/  /  |  |   |                        |
 |         |(__/|__/   |_/ \_/|/|(__/|__/   |_/ \_/|/                       |
 |                           /|                   /|                        |
 |                           \|                   \|                        |
 |                                                                          |
 |      Enrico Bertolazzi                                                   |
 |      Dipartimento di Ingegneria Industriale                              |
 |      Universita` degli Studi di Trento                                   |
 |      email: enrico.bertolazzi@unitn.it                                   |
 |                                                                          |
\*--------------------------------------------------------------------------*/

///
/// file: lapack_wrapper_config.hh
///

#pragma once

#ifndef LAPACK_WRAPPER_CONFIG_dot_HH
#define LAPACK_WRAPPER_CONFIG_dot_HH

/*\
 ! values
 !  LAPACK_WRAPPER_USE_ACCELERATE, LAPACK_WRAPPER_USE_ATLAS, LAPACK_WRAPPER_USE_OPENBLAS,
 !  LAPACK_WRAPPER_USE_LAPACK, LAPACK_WRAPPER_USE_MKL, LAPACK_WRAPPER_USE_BLASFEO
\*/
@@LAPACK_WRAPPER_USE@@

/*\
 ! define
 ! LAPACK_WRAPPER_DO_NOT_USE_SYSTEM_OPENBLAS
 ! if you want to use locally compiled openblas
\*/
@@LAPACK_WRAPPER_NOSYSTEM_OPENBLAS@@

#ifdef NO_SYSTEM_UTILS
  #include "Utils.hh"
  #include "Utils_fmt.hh"
  #include "Utils_trace.hh"
#else
  #include <Utils.hh>
  #include <Utils_fmt.hh>
  #include <Utils_trace.hh>
#endif

namespace lapack_wrapper {
  using Utils::ostream_type;
  using Utils::Malloc;
}

#endif

///
/// eof: lapack_wrapper_config.hh
///
